body { background: #f6050f; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 29px; display: flex; }
.block-cluster-0 { color: #74cbfe; font-size: 20px; margin-bottom: 5px; }
.block-helper-1 { color: #408b96; font-size: 14px; margin-bottom: 5px; }
.block-session-2 { color: #bb6b47; font-size: 15px; margin-bottom: 5px; }
.block-cache-3 { color: #c770c7; font-size: 13px; margin-bottom: 5px; }
.block-helper-4 { color: #262907; font-size: 13px; margin-bottom: 5px; }
.block-notify-5 { color: #57a2fb; font-size: 20px; margin-bottom: 5px; }
.block-session-6 { color: #6547a4; font-size: 19px; margin-bottom: 5px; }
.block-cache-7 { color: #74f196; font-size: 13px; margin-bottom: 5px; }
.block-cache-8 { color: #98a72b; font-size: 12px; margin-bottom: 5px; }
.block-config-9 { color: #ccae54; font-size: 13px; margin-bottom: 5px; }
.block-cluster-10 { color: #63e4e7; font-size: 12px; margin-bottom: 5px; }